.header {
  height: 144px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  text-align: center;

  .logo {
    color: red;
    font-size: 48px;
    font-weight: 800;
    letter-spacing: -2px;
    text-decoration: none;
  }

  > nav > ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    a,
    li {
      color: white;
      text-decoration: none;
      font-size: 21px;
      font-weight: 700;
      margin-right: 10px;
    }
    button{
      border:0;
      padding: 5 10 2 10px;
      color:white;
      font-size: 21px;
      font-weight: 700;
      background-color: transparent;
    }

  }
}
.menu:hover{
  background-color: rgb(73, 73, 73);
}